/* Main Header */
body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  background-image: url("/img/stars.png");

}
#middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content{
    height: 100%;
    width: 85%;
    border:0;
    background-color: #f4f4f4;
    padding: 1%;

}
.container {
  width: 80%;
  margin: auto;
  /* No scroll bars even if text goes out of the container */
  overflow: hidden;
}

#main-header {
  background-color: #052d4c;
  color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
}

#navbar a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #200753;
  color: white;
}

   #sidebar{
    margin: auto;
    width: 70%;
    padding:0 30px;
    box-sizing:border-box;
    background-color: #052d4c;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   #company-motto{
    text-align: center;
    padding:auto;
   }

   #showcase{
    text-align:center;
    color:#052d4c;
    background-position:center right;
    background-image: url("../img/starBackground.jpg");
    /* Height will grow with text */
    min-height:300px;
    padding-bottom:40px;
    margin-bottom:50px;
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
   }


   #showcase h1{
    color:#ddd;
    font-size:30px;
    line-height:1.6em;
    padding:30px;
   }

  
   .header{
  text-align: center;
  margin: bottom 40px;
  font-size: 13px;
  
   
  }


  #main-footer{
    background:#333;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top:40px;
  }

@media(max-width:600px){
    #main{
      width: 100%;
      float:none;
    }

    #sidebar{
      width: 100%;
      float:none;
    }
}

.safetyPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  



.contact-paragraph{
  text-align: center;
  color:#555;
  line-height: 2em;
  font-size: 10px;
}


#contact-header{
  text-align: center;
}

#contact-form{
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 50px;
  background-color: #052d4c;
}

#contact-header{
  text-align: center;
  margin-bottom: 40px;
  
}


.full-Name {
color: #f2f2f2;
font-size:17px;
}

.email{
text-align: center;
color: #f2f2f2;
font-size:17px;

}

.question{
text-align: center;
color: #f2f2f2;
font-size:17px;
}

.phone{
text-align: center;
color: #f2f2f2;
font-size:17px;
}

.submit-button{
  text-align: center;
}

#other-contact{
  color:#555;
}

#other-info{
  color:#555;
  margin-bottom: 200px;
}

.safetyPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.star-bus{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact-page h1{
text-align: center;
}

#contact-page p{
  padding:auto;
  margin:auto;
  margin-bottom:20px;
  text-align: center;
  font-size: 15px;

}

#exp-heading{
  text-align: center;
  margin:auto;
  padding:auto;
}

#exp-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


#about-header{
  text-align: center;
}

#exp-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
