/* Main Header */
body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  background-image: url("/img/stars.png");

}
#middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content{
    height: 100%;
    width: 85%;
    border:0;
    background-color: #f4f4f4;
    padding: 1%;

}
.container {
  width: 80%;
  margin: auto;
  /* No scroll bars even if text goes out of the container */
  overflow: hidden;
}

#main-header {
  background-color: #052d4c;
  color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #200753;
  color: white;
}
/* Animated Background */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    min-height: 100vh;
    background: #080116;
} */

.container {

  /* width: 100%;
    height: 100vh; */
  
}

/* .stars {
    position: relative;
    display: flex;
}

.stars span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #D5AB55;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #f3bf576c,
    0 0 50px #D5AB55,
    0 0 100px #D5AB55;
    animation: animate 15s linear infinite;
        change the speed of stars 
    animation-duration: calc(350s / var(--i));
    position:relative;
    z-index: -1
}

.stars span:nth-child(even) {
    background: #e2a223;
    box-shadow: 0 0 0 10px #f3bf576c,
    0 0 50px #a57412,
    0 0 100px #a57412;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
   */


   #sidebar{
    margin: auto;
    width: 70%;
    padding:0 30px;
    box-sizing:border-box;
    background-color: #052d4c;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
   }
   

   #showcase{
    text-align:center;
    color:#052d4c;
    background-image: url("../img/stars.png");
    background-position:center right;
    /* Height will grow with text */
    min-height:300px;
    padding-bottom:40px;
    margin-bottom:50px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
   }


   #showcase h1{
    color:#ddd;
    font-size:30px;
    line-height:1.6em;
    padding:30px;
   }

  .header{
  text-align: center;
  margin: bottom 40px;
  font-size: 13px;
   
  }

  #main-footer{
    background:#333;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top:40px;
  }

@media(max-width:600px){
    #main{
      width: 100%;
      float:none;
    }

    #sidebar{
      width: 100%;
      float:none;
    }
}