/* Main Header */
#content{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#Title-Headerbox{
    text-align:center;
    color:yellow;
    
}

#motto-Headerbox{
    color: yellow;
}


.bio-paragraph{
    width: 300px;
    border: 2px solid #AE9F9F;
    float:center;
    padding: 50px;
    margin-top: 95px;
   background-color:#585050;
}


/* Animated Background */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #080116;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stars {
    position: relative;
    display: flex;
}

.stars span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #D5AB55;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #f3bf576c,
    0 0 50px #D5AB55,
    0 0 100px #D5AB55;
    animation: animate 15s linear infinite;
    /* change the speed of stars */
    animation-duration: calc(350s / var(--i));
    position:relative;
    z-index: -1
}

.stars span:nth-child(even) {
    background: #e2a223;
    box-shadow: 0 0 0 10px #f3bf576c,
    0 0 50px #a57412,
    0 0 100px #a57412;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
  